.robokids-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    background-color: #e6f2ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem 0;
}

.robokids-info {
    flex: 1;
    margin-right: 2rem;
}

.robokids-info h1 {
    font-size: 2.5rem;
    color: #0052cc;
    margin-bottom: 1rem;
    font-family: 'Nunito', sans-serif;
}

.robokids-info p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    color: #333;
    line-height: 1.6;
}


.talleres-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-register {
    padding: 12px 30px;
    font-size: 1rem;
    background-color: #0052cc;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
}

.btn-register:hover {
    background-color: #003b8c;
    transform: scale(1.05);
}

.robokids-gallery {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.robokids-image {
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: cover;
    border: 3px solid #0052cc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.robokids-image:hover {
    transform: scale(1.05);
}

.robokids-image:nth-child(1) {
    transform: translateY(10px);
}

.robokids-image:nth-child(2) {
    transform: translateY(-10px);
}

.robokids-image:nth-child(3) {
    transform: translateY(5px);
}