.talleres-container {
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.talleres-banner {
  background: url('/img/card4.jpeg') center/cover no-repeat;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
}

.talleres-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.talleres-title {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 100%;
}

.talleres-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 20px;
  margin-bottom: 50px;
}

.talleres-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eafbe5;
  padding: 80px;
  border-radius: 10px;
  width: 70%;
  max-width: 800px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #2ecc71;
}

.talleres-info-container.robo-juniors {
  flex-direction: row;
  background: #add0ff;
  border: 2px solid #2986ff;
}

.talleres-image {
  width: 250px;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.talleres-info {
  text-align: center;
  max-width: 500px;
}

.talleres-info h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}

.talleres-info p {
  font-size: 1.1rem;
  color: #333;
}

.talleres-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.btn-info, .btn-register {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
  font-size: 1rem;
  font-weight: bold;
}

.btn-info {
  background: #007bff;
  color: white;
}

.btn-register {
  background: #28a745;
  color: white;
}
